.post {
    position: relative;
    width: 40%;
    height: 50%;
    background: #fff;
    box-shadow:0 4px 10px 0 rgba(17, 4, 63, 0.2),0 4px 15px 0 rgba(79, 19, 97, 0.19);
    margin: 30px 10px 5px 70px;
    float:left;
    border-radius: 10px;
}
.post-left {
        width: 15%;            
        max-width: 15%;
        display: table-cell;
        vertical-align: middle;
        text-align: center;
        font-weight: bold;
        color: #000;
}
.post-content {
        width: 75%;           
        display: table-cell;
        text-align: left;
        background-color: #E8E8E8;
        color: #000000;
        border-radius: 0px 10px 10px 0px;
        padding: 0 ; 
             
}
.post-title{
    font-family: 'Itim', cursive;
    font-weight: bold;
    color: #2b312b;
    font-size: 25px;
    height: 25px;
    text-align: center;
    }
.post-more {
    float: right;
    cursor: pointer;
    font-size: 18px;
    margin-right: 0 !important;
    padding-right: 0 !important;
    padding-bottom: 10px;
    font-size: 30px;
}
.post-desc{
    height: 100px;
    margin-bottom: 0 !important;
    max-width: 600px;
    font-size: 10px;
    align-items: center;
    text-align: center;
    font-size: 100%;
}

body {
    height: 150%;
    width: 100%;
    position: relative;
    margin: 0 !important;
    color: #fff;
    background-color: orange;
    background-size: 2000% 2000%;
}

.allPostsContainer {
    height: 100%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.header{
    display: flex;
    justify-content: space-between;
}
.logo-title {
    font-family: 'Satisfy', cursive;
    font-size: 50px;
    color: #112fb4;
    margin: auto;
    text-decoration: none;
    margin: 10px 10px 0px 10px;    
}
.middleText {
    font-family: 'Marck Script', cursive;
    margin-top: 0;
    margin: 0 0 0px 10px;
}
.topButtons {
    width: 90px;
    background: #0000ff;
    color: white;
    font-weight: 50; 
    font-size: 50%; 
    font-family: 'Josefin Sans', sans-serif; 
    padding: 10px;
    margin: 10px 10px 0px 0px;
    text-align: center;
}

.middleText {
    font-family: 'Marck Script', cursive;
    margin-top: 0;
    margin: 0 0 0px 10px;
    color: white;
    font-size: 60%;
}

.fa {
    position: absolute;
    top: 25px;
    right: 10px;
    padding: 0;
    border: none;
    background: none;
    transform: translate(-50%,-50%);
}

.dots {
   position: absolute; 
   top: 130px;
   left: 480px;
   color: black;
}

#box{
    width: 450px;
    overflow: hidden;
    background: #f1f1f1;
    box-shadow:  0 0 20px black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 9999;
    padding: 10px;
    text-align: center;
    display: none;

}

#box span{
    color: black;
    font-size: 20px;
    display: block;
    margin: 15px 15px;

}

.close{
    font-size: 20px;
    color: white;
    padding: 10px 20px;
    cursor: pointer;
    background: green;
    display: inline-block;
    width: 80px;
    height: 20px;
    margin-bottom: 25px;

}

.Ok{
    font-size: 20px;
    color: white;
    padding: 10px 20px;
    cursor: pointer;
    background: red;
    display: inline-block;
    width: 80px;
    height: 20px;
    margin-right: 130px;
    
}

