/* Set a style for all elements inside the header i.e. Sign Up button, Sign In button, 
the title "ScriBBler" & the sub-heading below "ScriBBLer" */

.header{
    display: flex;
    justify-content: space-between;
}

.logo-title {
    font-family: 'Satisfy', cursive;
    font-size: 50px;
    color: #112fb4;
    margin: auto;
    text-decoration: none;
    margin: 10px 10px 0px 10px;    
}
.middleText {
    font-family: 'Marck Script', cursive;
    margin-top: 0;
    margin: 0 0 0px 10px;
}
.postButtons {
    display: flex;
    justify-content: center;
    color: black; 
    font-weight: 600; 
    font-size: 90%; 
    font-family: 'Josefin Sans', sans-serif; 
    padding: 10px;
    margin: 10px 10px 0px 0px; 
 }
 #left-btn.postButtons{
    float:left;
 }
 input.postButtons{
     background-color: darkgoldenrod;
 }
 .postButtons:hover {
    opacity: 0.8;
    
}
.topButtons {
    width: 90px;
    background: #0000ff;
    color: white;
    font-weight: 500; 
    font-size: 90%; 
    font-family: 'Josefin Sans', sans-serif; 
    padding: 10px;
    margin: 10px 10px 0px 0px;
    border: none;
                   
}
 .topButtons:hover {
    opacity: 0.8;
    color:black;
    cursor: pointer;
}




