body{
   background-image: url(background.jpg);
   background-repeat: no-repeat;
   background-attachment: fixed;
   background-position: center center;
   background-size: cover;
   margin: 0 !important;
   background-size: 100% cover !important;
   overflow:hidden;
   display: block;
} 


/* Set a style for the rest of the elements besides the header elements on the index.html page */

/******************************************Sign in **************************************************/
/* div sign in modal main class*/
.modalClass{

   display: none; /* Hidden by default */
   position: fixed; /* Stay in place */
   z-index: 1; /* Sit on top */
   left: 0;
   top: 0;
   width: 100%; /* Full width */
   height: 100%; /* Full height */
   overflow: auto; /* Enable scroll if needed */
   background-color: rgb(0,0,0); /* Fallback color */
   background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
 }
 

 /*Div Sign In Modal content*/
.signin-modal-content{
 
 position: fixed; 
 left: 35%;
 top: 10%;
 
 background-color: rgb(255, 255, 255); 
 width:25%;
 height:55%;

 border:1px solid #888;
 padding: 5px;
 margin:5% 6%;
 
 

/*Style set for the rest of the elements besides the header elements on the index.html page */
#main-container-div {
   height: 100vh;
}

.modalContainer {
   display: none; /* Hidden by default */
   position: fixed; 
   vertical-align: middle;
   z-index: 1; 
   left: 33.33%;
   top: 20%;
   overflow: auto; 
   background-color: rgb(255, 255, 255); 
}
#sign-in-modal.modalContainer {
   width: 400px;
   height: 450px;
   padding: 20px;
}
#sign-up-modal.modalContainer {
   width: 300px;
   height: 500px;
   padding:20px;
}
#create-post-modal.modalContainer {
   left:10%;
   top:5%;
   width:80em;
   height:90%;
   padding: 20px;

}
/*Div Sign up Modal content*/
.signup-modal-content{
 

 position: fixed; 
 left: 30%;
 top: 3%;
  
 background-color: rgb(255, 255, 255); 
 width:22%;
 height:75%;

 border:1px solid #888;
 padding: 5px;
 margin:5% 10%;
 
}
/*Div create post Modal content*/
.createpost-modal-content{
   position: absolute; 
   left: 14%;
   top: 0%;

   background-color: rgb(255, 255, 255); 
   width:71%;
   height:90%;

   border:1px solid #888;
   padding: 0px 20px 20px 20px;
   margin: 2px 4px 4px 4px;
  
 
  }
  /* css for button in creat post modal is centered at the middle*/
  button.createpost-btn {
   position: relative;
   width:12%;
   left:45%;
}

/* The title text box for create post model */
#createpost-title{
   width:50%;
   position: relative;
   
 }

/* form for sign in ,sign up and create post*/
form {
   display: flex;	  
   flex-direction: column;	   
   justify-content: center;
}	
/* header for sign in and sign up*/
h1{
   text-align:center;
   font-style: normal;  
 }
 /* the header h1 in the create post */
 .createpost-header-class{
   margin-top: 0%;
   padding-top: 0%;
}
/* labels for the username ,password*/
.label-text {
 font-weight: bold;
 margin-top: 15px;
}
/* username and password inputs*/
input[type=text], input[type=password] {	
   width: 100%;	
   padding: 10px;	  
   margin-top: 5px;	   
   margin-bottom:10px;	  
   display: inline-block;	
   border: none;	   
   box-sizing: border-box;	
   padding: 10px;	
   outline: none;	
   background-color:rgb(220,220,220);	   

form {
   display: flex;
   flex-direction: column;
   justify-content: center;
}

.label-text {
   font-weight: bold;
}

input[type=text], input[type=password] {
   
   padding: 10px;
   margin-top: 5px;
   margin-bottom:10px;
   border: none;
   background-color:rgb(220,220,220);
}
input#title {
   margin-right: 50%;
}
button {
   background-color: #4CAF50;
   color: #fff;
   font-size: 16px;
   padding: 10px;
   margin-top: 10px;
   border: none;
   cursor: pointer;

}
/* Code for sign in and sign up button*/
button {	
   background-color: #4CAF50;	  
   margin-top: 10px;	   
   border: none;	  
   cursor: pointer;	   
   width: 100%;
   padding: 10px;	  	
 }

 
 
 #p-signInFooter{
   text-align: center;


 button.create-post-btn {
    width:15%;
    margin-left: 42.5%;


 }

 .signInFooter {
    float:bottom;
    font-family:'none';
    text-align: center;
 }


 /* hyperlink tag for the sign up link in the signup modal footer*/
 a {
   font-size: 14px;
   color: #186CA3;
   text-decoration: none;
}
 /* css for close button for all the modals*/

 .close {
   color: #aaa;
   float: right;
   font-size: 28px;
   font-weight: bold;
 }
 /* css for close button for all the modals*/
 .close:hover,.close:focus {
   color: black;
   text-decoration: none;
   cursor: pointer;
 }
 /*css close button should be black in color*/
#creatpost-close{
   color:black;
}


  /*css for All Posts & Create Post button here*/
 .postButtons{
   display:block;
   position:absolute;
   top: 38%;
   left:42%;
  
}
 /*css for All Posts & Create Post button here*/
.Post-Buttons{

   background-color: rgb(207, 181, 59);
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   text-align: center;
   font-weight:bold;
   height: 38px;
   margin: 4px;
   padding: 8px 12px 10px 10px;
   
      
   }      
=======
                              

