body{
   background: url('background.jpg');
   background-repeat: no-repeat;
   background-attachment: fixed;
   background-position: center center;
   background-size: cover;
   margin: 0 !important;
   background-size: 100% cover!important;
   overflow:hidden;
   display: block;
} 

/* Set a style for the rest of the elements besides the header elements on the index.html page */
   

 .postButtons {
  display: flex;
  height: 700px;
  align-items: center;
  width: 500px;
  margin-left: 550px;
}

                           

.btn{
	background-color: #cc9900;
	color: black;
	font-weight: bold;
	float:center;
    display:flex;
    align-items: center;
   	margin-right: 10px;
   	padding : 5px 5px 5px 5px;

    
}

